/* Experiencia Académica*/
section.academic {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 82px;
  background-color: #eaf2fd;
}

section.academic .academic__title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

section.academic .academic__courses {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  gap: 16px;
}

section.academic
  .academic__courses
  .academic__courses__box
  .academic__courses__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

section.academic
  .academic__courses
  .academic__courses__box
  .academic__courses__list
  .academic__courses__item__img {
  height: 286px;
  width: 368px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

section.academic
  .academic__courses
  .academic__courses__box
  .academic__courses__list
  .academic__courses__item__img
  img {
  width: 192px;
  height: 130px;
}

section.academic
  .academic__courses
  .academic__courses__box
  .academic__courses__list
  .academic__courses__item__title {
  font-size: 22px;
  font-weight: bold;
}

section.academic
  .academic__courses
  .academic__courses__box
  .academic__courses__list
  .academic__courses__item__subtitle {
  font-size: 16px;
  font-weight: 500;
}

/*Tablet*/
@media (max-width: 768px) {
  section.academic {
    padding: 32px;
  }

  section.academic .academic__title {
    font-size: 22px;
  }

  section.academic .academic__courses {
    width: 80%;
  }

  section.academic
    .academic__courses
    .academic__courses__box
    .academic__courses__list {
    gap: 8px;
  }

  section.academic
    .academic__courses
    .academic__courses__box
    .academic__courses__list
    .academic__courses__item__img {
    width: 224px;
    height: 169px;
    gap: 8px;
  }

  section.academic
    .academic__courses
    .academic__courses__box
    .academic__courses__list
    .academic__courses__item__img
    img {
    width: 84px;
    height: 58px;
  }

  section.academic
    .academic__courses
    .academic__courses__box
    .academic__courses__list
    .academic__courses__item__title {
    font-size: 14px;
  }

  section.academic
    .academic__courses
    .academic__courses__box
    .academic__courses__list
    .academic__courses__item__subtitle {
    font-size: 16px;
    font-weight: 500;
  }
}

/*Mobile*/
@media (max-width: 425px) {
  section.academic
    .academic__courses
    .academic__courses__box
    .academic__courses__list
    .academic__courses__item__title {
    font-size: 22px;
  }

  section.academic .academic__courses {
    flex-direction: column;
    justify-content: center;
  }

  section.academic
    .academic__courses
    .academic__courses__box
    .academic__courses__list
    .academic__courses__item__img {
    width: 296px;
    height: 118px;
    gap: 10px;
    padding: 16px;
  }
}
